.about {
  overflow: hidden;
  border-bottom: var(--border);
}

.about-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  margin: 0 rem(15px);
  .title-right {
    border-top: var(--border);
    &:after,
    &:before {
      content: "";
      position: absolute;
      background-color: var(--grey-border);
      width: rem(15px);
      height: rem(0.5px);
      top: 0;
    }
    &:after {
      right: rem(-15px);
    }
    &:before {
      left: rem(-15px);
    }
  }
}

.img-about {
  display: flex;
  justify-content: center;
  overflow: hidden;
  img {
    object-fit: contain;
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
  }
}

.text-about {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .about-me {
    padding: rem(50px) rem(20px);
  }
  h2 {
    color: #ffffff;
    font-size: rem(30px);
  }
  p {
    color: var(--grey-one);
    margin: rem(10px) 0;
  }
}

.info {
  background-color: hsla(0, 0%, 100%, 0.02);
  position: relative;
  ul {
    padding: rem(20px) rem(20px);
    li {
      display: flex;
      align-items: center;
      margin: rem(10px) 0;
      color: var(--grey-three);
      font-size: rem(13px);
      div {
        width: 70%;
      }
    }
  }
  span {
    display: inline-block;
    color: var(--white);
    width: 30%;
  }
  &:after {
    content: "";
    top: 0;
    position: absolute;
    background: inherit;
    bottom: 0;
    right: rem(-1200px);
    width: rem(1200px);
  }
}

.about-job-container {
  width: 100%;
  border-top: var(--border);
}

.about-job-one,
.about-job-two,
.about-job-three,
.about-job-four {
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: rem(150px);
    svg {
      margin-bottom: rem(20px);
      path {
        fill: var(--grey-three);
      }
    }
    span {
      svg {
        height: 3rem;
        width: 3rem;
      }
    }
    .svg-inline--fa {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  p {
    color: var(--white);
    margin-bottom: 0;
    font-weight: 700;
    letter-spacing: rem(-1px);
    font-size: rem(17px);
  }
}

.about-job-one {
  div:first-child {
    display: none;
  }
  div:last-child {
    display: none;
  }
  div:nth-child(even) {
    width: 100%;
  }
}

.about-job-two {
  div:first-child {
    display: none;
  }
  div:last-child {
    display: none;
  }
  div:nth-child(even) {
    border-right: var(--border);
  }
}

.about-job-three {
  flex-wrap: wrap;
  div:first-child {
    border-right: var(--border);
  }
  div:last-child {
    width: 100%;
  }
  div:nth-child(even) {
    border-right: var(--border);
  }
  div:nth-child(-n + 2) {
    border-bottom: var(--border);
  }
}

.about-job-four {
  flex-wrap: wrap;
  div:nth-child(-n + 2) {
    border-bottom: var(--border);
  }
  div:nth-child(odd) {
    border-right: var(--border);
  }
}

/*Media queries*/

/*Tablet*/
@media screen and (min-width: 640px) {
  .about-container {
    flex-direction: row;
    margin: 0 auto;
    .title-right {
      border-top: none;
      &:after,
      &:before {
        content: unset;
      }
    }
  }

  .img-about,
  .img-about-height {
    position: relative;
    width: 25%;
    &:after {
      content: "";
      position: absolute;
      background: var(--btn-blue-hover);
      bottom: 0;
      top: 0;
      right: 0;
      width: 20px;
      z-index: 12;
    }
    img {
      position: absolute;
      width: 100%;
    }
    .profile-pic {
      border-bottom: rem(20px) solid var(--btn-blue-hover);
    }
  }

  .img-about {
    background-color: var(--btn-blue-hover);
  }

  .text-about {
    width: 75%;
    .about-me {
      padding: rem(20px) rem(20px);
    }
  }

  .info {
    span {
      width: rem(140px);
    }
  }
  .about-job-one {
    div:first-child {
      display: flex;
      width: 25%;
      border-left: var(--border);
    }
    div:last-child {
      display: flex;
      width: 25%;
      border-right: var(--border);
    }
    div:nth-child(even) {
      width: 50%;
      border-left: var(--border);
      border-right: var(--border);
    }
  }
  .about-job-three {
    flex-wrap: nowrap;
    div:last-child {
      width: 50%;
    }
    div:nth-child(-n + 2) {
      border-bottom: unset;
      border-right: var(--border);
    }
  }
}

/*Full-screen*/
@media screen and (min-width: 960px) {
  .info {
    ul {
      padding: rem(20px) rem(40px);
    }
  }

  .about-job-two {
    div:first-child,
    div:last-child {
      display: block;
    }
    div:first-child {
      border-left: var(--border);
    }
    div {
      border-right: var(--border);
    }
  }

  .about-job-three {
    div:first-child {
      border-left: var(--border);
    }
    div:last-child {
      border-right: var(--border);
    }
  }

  .about-job-four {
    flex-wrap: nowrap;
    div {
      width: 25%;
      border-right: var(--border);
    }
    div:nth-child(-n + 2) {
      border-bottom: unset;
    }
    div:first-child {
      border-left: var(--border);
    }
  }
}
