.info-section,
.educExpe-section,
.skill-section,
.project-section {
  border-bottom: var(--border);
}

.info-container,
.educExpe-container,
.skill-container,
.project-container {
  margin-top: rem(70px);
  overflow: hidden;
  padding: 0 rem(15px);
  form {
    margin-top: rem(30px);
    h4 {
      margin: 0;
    }
  }
}

.info-container,
.educExpe-container,
.skill-container {
  @include title();
}

.skill-container-admin {
  .skill-canvas {
    margin: rem(10px) 0 0 0;
  }
}

.project-container {
  @include title();
}

.delete-info-div {
  div {
    display: flex;
    justify-content: center;
  }
  h2 {
    color: var(--white);
    text-align: center;
  }
  button {
    @include btn(rem(60px), rem(30px) rem(10px), rem(100px));
  }
}

.forms-block {
  display: flex;
  width: 200%;
}

.form-container,
.list-container {
  width: 50%;
  margin-bottom: rem(30px);
  h3,
  h4 {
    color: var(--white);
  }
  p {
    color: var(--grey-two);
  }
}

.list-container {
  h4 {
    margin: rem(30px) 0;
  }
  li {
    display: flex;
    flex-direction: column;
    color: var(--grey-two);
    margin: rem(15px) 0;
    .div-list-container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .div-list-info-container,
    .div-list-btn-container {
      div {
        margin: rem(5px) 0;
      }
    }
    .div-list-btn-container {
      display: flex;
      button {
        &:first-child {
          margin-right: rem(10px);
        }
      }
    }
  }
  .date-list,
  .skill-list {
    min-width: rem(110px);
  }
  .title-list {
    max-width: rem(650px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .btn-list-edit {
    @include btn-admin(var(--btn-blue), var(--blue-hover));
  }
  .btn-list-delete {
    @include btn-admin(var(--btn-red), var(--btn-red-hover));
  }
}

.add-enter {
  transform: translate3d(-110%, 0, 0);
}
.add-enter-active {
  transform: translate3d(0, 0, 0);
  transition: transform 500ms;
}
.add-exit {
  transform: translate3d(0, 0, 0);
}
.add-exit-active {
  transform: translate3d(-110%, 0, 0);
  transition: transform 500ms;
}

.edit-enter {
  transform: translate3d(10%, 0, 0);
}
.edit-enter-active {
  transform: translate3d(-100%, 0, 0);
  transition: transform 500ms;
}
.edit-exit {
  transform: translate3d(-100%, 0, 0);
}
.edit-exit-active {
  transform: translate3d(10%, 0, 0);
  transition: transform 500ms;
}

.label-checkbox-container {
  display: flex;
}

.skills-checkbox-container {
  flex-direction: column;
  label {
    margin-top: rem(20px);
  }
}
.code-used-checkbox-container {
  display: flex;
  margin-bottom: rem(20px);
  flex-direction: column;
  p {
    display: block;
    color: var(--white);
    font-size: rem(14px);
    margin-bottom: rem(10px);
  }
  div {
    display: flex;
    flex-direction: column;
  }
  label {
    display: flex;
    align-items: center;
    height: rem(25px);
    margin-top: rem(20px);
  }
}

/*Media queries*/

/*Tablet*/
@media screen and (min-width: 640px) {
  .list-container {
    li {
      justify-content: space-between;
      align-items: center;
      .div-list-container {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
      }
      .div-list-info-container {
        display: flex;
        div {
          margin: 0;
        }
      }
    }
    .title-list {
      max-width: rem(350px);
    }
  }

  .skill-container-admin {
    .skill-canvas {
      margin: rem(20px) 0 rem(30px) 0;
    }
    .skill-bar-container {
      width: rem(315px);
    }
  }

  .skills-checkbox-container {
    flex-direction: row;
    label {
      margin-top: 0;
    }
  }

  .code-used-checkbox-container {
    div {
      flex-direction: row;
      flex-wrap: wrap;
    }
    label {
      margin: rem(10px) 0;
    }
  }
}

/*Full-screen*/
@media screen and (min-width: 960px) {
  .info-container,
  .educExpe-container,
  .skill-container,
  .project-container {
    padding: 0;
  }

  .skill-container {
    .input-container {
      flex-wrap: wrap;
      margin-bottom: 0;
      .input {
        margin-bottom: rem(20px);
      }
    }
  }

  .list-container {
    .title-list {
      max-width: rem(650px);
    }
  }

  .code-used-checkbox-container {
    label {
      margin: 0;
    }
  }
}
