.back-to-top {
  display: none;
}

/*Media queries*/

/*Full-screen*/
@media screen and (min-width: 1130px) {
  .back-to-top {
    position: fixed;
    bottom: rem(20px);
    right: rem(40px);
    z-index: 100;
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
    width: rem(40px);
    height: rem(40px);
    border-radius: 50%;
    background-color: var(--blue);
    color: var(--white);
    transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out,
      transform 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: var(--blue-hover);
      transform: scale(1.2);
    }
    &:focus {
      outline-style: none;
      box-shadow: none;
      border-color: transparent;
      background-color: var(--blue-hover);
    }
  }
}
