.form-in-list {
  width: 100%;
  form {
    padding-top: 1.875rem;
    margin-top: 0.9375rem;
    border-top: var(--border);
    border-bottom: var(--border);
  }
}

.btn-submit-action {
  @include btn(rem(60px), rem(30px) rem(15px) rem(30px) 0, auto);
  svg {
    margin-left: rem(6px);
  }
}

.error-container-interaction {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  span {
    position: relative;
  }
  button {
    background-color: transparent;
    border: none;
    color: var(--blue);
    text-decoration: underline var(--blue);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
  }
}

.error-message-form {
  position: absolute;
  color: var(--red);
  font-size: rem(12px);
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: rem(20px);
  @include form-input();
  .disabled-datePicker {
    cursor: not-allowed;
  }
  div {
    .react-datepicker-popper[data-placement^="bottom"] {
      padding-top: rem(17px);
    }
    .react-datepicker__navigation-icon {
      width: 0;
      height: rem(23px);
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(40px);
      height: rem(40px);
      color: var(--white);
      margin: 0 rem(5px);
      svg {
        width: rem(25px) !important;
        height: rem(25px);
      }
    }
    input {
      background-color: transparent;
      border: none;
      outline: none;
      width: 100%;
      font-size: 1rem;
      padding-right: rem(10px);
      color: var(--white);
    }
    input[type="file"] {
      opacity: 0;
      z-index: 10;
      position: absolute;
      top: 0;
      height: 100%;
    }
    .container-input-interaction {
      width: 100%;
      position: relative;
      span,
      p {
        justify-content: flex-start;
        width: 100%;
        z-index: 9;
      }
      p {
        color: var(--grey-input-placeholder);
      }
    }
    .react-datepicker-wrapper {
      width: 90%;
    }
    .react-datepicker-wrapper,
    .react-datepicker__input-container {
      background-color: transparent;
      border: none;
    }
    .react-datepicker,
    .react-datepicker__header {
      flex-direction: column;
      background-color: var(--principal-color);
      border-radius: 0;
    }
    .react-datepicker__month-container {
      flex-direction: column;
      width: rem(250px);
    }
    .react-datepicker__month {
      flex-wrap: wrap;
    }
    .react-datepicker__current-month,
    .react-datepicker__day-name,
    .react-datepicker__day {
      color: var(--white);
    }
    .react-datepicker__day {
      transition: 0.2s ease-in-out;
      &:hover {
        color: var(--blue);
      }
    }
    .react-datepicker__day--disabled {
      color: var(--grey-three);
      cursor: not-allowed;
      &:hover {
        color: var(--grey-three);
      }
    }
    .react-datepicker__close-icon {
      &:after {
        background-color: var(--blue);
        width: rem(20px);
        height: rem(20px);
      }
    }
  }
}

.input-interaction {
  overflow: hidden;
  label {
    display: flex;
    align-items: center;
    background-color: var(--blue);
    height: rem(40px);
    padding: 0 rem(20px);
    margin: 0;
  }
}

.text-area {
  @include form-input();
  div {
    padding: rem(5px) 0 0 rem(10px);
    textarea {
      background-color: transparent;
      border: none;
      outline: none;
      width: 100%;
      height: rem(200px);
      font-size: 1rem;
      color: var(--grey-three);
    }
  }
}

.btn-container {
  display: flex;
  align-items: center;
}

.container-radio,
.container-checkbox {
  display: block;
  position: relative;
  padding-left: rem(35px);
  padding-right: rem(10px);
  cursor: pointer;
  color: var(--white);
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-radio input,
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container-checkbox input {
  height: 0;
  width: 0;
}

.checkmark-radio {
  position: absolute;
  top: rem(-3px);
  left: 0;
  height: rem(25px);
  width: rem(25px);
  background-color: var(--white);
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.checkmark-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: rem(25px);
  width: rem(25px);
  border: rem(1px) solid var(--grey-one);
  border-radius: rem(5px);
  transition: 0.3s ease-in-out;
}

.container-radio:hover input ~ .checkmark-radio {
  background-color: var(--grey-one);
}
.container-checkbox:hover input ~ .checkmark-checkbox {
  border-color: var(--blue);
}

.container-radio input:checked ~ .checkmark-radio,
.container-checkbox input:checked ~ .checkmark-checkbox {
  background-color: var(--blue);
}

.checkmark-radio:after,
.checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.container-radio input:checked ~ .checkmark-radio:after,
.container-checkbox input:checked ~ .checkmark-checkbox:after {
  display: block;
}

.container-radio .checkmark-radio:after {
  top: rem(9px);
  left: rem(9px);
  width: rem(8px);
  height: rem(8px);
  border-radius: 50%;
  background: var(--white);
}

.container-checkbox .checkmark-checkbox:after {
  left: rem(8px);
  top: rem(4px);
  width: rem(7px);
  height: rem(12px);
  border: solid var(--white);
  border-width: 0 rem(3px) rem(3px) 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Media queries*/

/*Full-screen*/
@media screen and (min-width: 960px) {
  .input-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: rem(20px);
  }

  .input {
    width: 49%;
    margin-bottom: 0;
  }

  .input-no-error {
    margin-bottom: 1.25rem;
  }
}
