.logo {
  outline: none;
  a {
    position: relative;
    cursor: pointer;
    &:before {
      content: "";
      position: absolute;
      width: rem(30px);
      height: rem(30px);
      top: 50%;
      margin-top: rem(-15px);
      background: var(--blue);
      left: rem(3px);
      border-radius: 50%;
      z-index: 0;
    }
    span {
      position: relative;
      color: var(--grey-one);
      font-weight: 700;
      font-size: 1.3rem;
      transition: color 0.2s ease-in-out;
    }
    &:focus {
      outline-style: none;
      box-shadow: none;
      border-color: transparent;
    }
    &:focus-visible {
      span {
        color: var(--white);
      }
    }
  }
}
