.modal,
.modalDisplay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(211, 80%, 10%, 0.984);
  z-index: 999999;
}

.modalDisplay {
  opacity: 0;
  z-index: -10;
}

.showModalDisplay {
  opacity: 1;
  z-index: 100;
}

.modal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  background-color: var(--principal-color);
  padding: rem(20px) rem(15px);
  overflow-y: auto;
}

.close-modal {
  @include btn-close(rem(15px), rem(5px), rem(35px), rem(20px));
  &:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
  }
}

/*Media queries*/

/*Tablet*/
@media screen and (min-width: 640px) {
  .modal-container {
    height: auto;
    padding: rem(50px);
    -webkit-box-shadow: 0px rem(15px) rem(36px) rem(-11px) hsla(0, 0%, 0%, 0.75);
    -moz-box-shadow: 0px rem(15px) rem(36px) rem(-11px) hsla(0, 0%, 0%, 0.75);
    box-shadow: 0px rem(15px) rem(36px) rem(-11px) hsla(0, 0%, 0%, 0.75);
  }
  .close-modal {
    top: rem(10px);
    right: rem(10px);
  }
}

/*Full-screen*/
@media screen and (min-width: 960px) {
  .modal-container {
    width: rem(960px);
  }
}
