.main-menu {
  background-color: var(--principal-color);
  border-bottom: var(--border);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  .container-nav {
    padding: 0 rem(40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(80px);
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 rem(15px);
      text-transform: none;
      text-decoration: none;
      font-weight: 700;
      height: rem(65px);
      width: 100%;
    }
  }
}

.menu-fixed {
  position: fixed;
  top: 0;
  bottom: unset;
}

.menu {
  position: absolute;
  top: -25.6rem;
  left: 0;
  background-color: var(--principal-color);
  width: 100%;
  border-bottom: var(--border);
  border-top: var(--border);
  display: none;
  .list-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      width: 100%;
      .active {
        color: var(--white);
      }
      &:focus {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
      }
      &:focus-visible {
        a {
          color: var(--white);
        }
      }
    }
  }
  a {
    color: var(--grey-one);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      color: var(--grey-two);
    }
  }
}

.social-mobile {
  padding-bottom: rem(20px);
  ul {
    display: flex;
    justify-content: center;
  }
}

.social-svg {
  @include svgFill(rem(20px));
  a {
    &:focus {
      outline-style: none;
      box-shadow: none;
      border-color: transparent;
      svg {
        path {
          fill: var(--white);
        }
      }
    }
  }
}

.burger-menu-svg {
  @include svgFill(rem(30px));
}

.logoutSvg {
  display: flex;
  align-items: center;
  height: rem(65px);
  padding: 0 rem(15px);
  cursor: pointer;
  @include svgStroke(rem(30px));
  &:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    svg {
      path {
        stroke: var(--white);
        fill: none;
      }
    }
  }
}

.display-block {
  display: block;
}

/*Media queries*/

/*Tablet*/
@media screen and (min-width: 640px) {
  .menu {
    top: -8.2rem;
    .list-menu {
      flex-direction: row;
      justify-content: center;
      li {
        width: auto;
      }
    }
  }
  .social-mobile {
    padding: 0;
  }
}

/*Full-screen*/
@media screen and (min-width: 960px) {
  .maine-menu {
    .container-nav {
      padding: 0;
    }
  }

  .menu {
    display: flex;
    justify-content: center;
    border: none;
    position: unset;
    top: unset;
  }

  .social {
    ul {
      display: flex;
    }
  }
}
