.portfolio-container,
.project-section {
  border-bottom: var(--border);
}

.swiper-slide {
  width: 100% !important;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}

.swiper {
  margin: rem(10px) 0;
  cursor: pointer;
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
    }
  }
  .swiper-pagination {
    bottom: rem(17px) !important;
  }
  img {
    margin: 0 !important;
  }
}

.swiper-modal {
  margin-top: 3rem;
}

.portfolio,
.project {
  display: flex;
  position: relative;
  padding: 0 rem(15px);
}

.portfolio {
  flex-direction: column;
}

.project {
  flex-direction: row;
}

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: rem(60px) 0;
  .projects-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.project-card {
  position: relative;
  overflow: hidden;
  width: rem(300px);
  height: rem(200px);
  margin: rem(10px);
  border-radius: rem(7px);
  border-bottom-left-radius: 0;
  cursor: pointer;
  -webkit-box-shadow: 0px rem(15px) rem(36px) rem(-11px) hsla(0, 0%, 0%, 0.5);
  -moz-box-shadow: 0px rem(15px) rem(36px) rem(-11px) hsla(0, 0%, 0%, 0.5);
  box-shadow: 0px rem(15px) rem(36px) rem(-11px) hsla(0, 0%, 0%, 0.5);
  img {
    width: 100%;
    height: inherit;
    transform: scale(1.2);
    transition: transform ease-in-out 0.2s;
  }
  .project-card-name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--principal-color);
    padding: rem(3px) rem(9px);
    border-top-right-radius: rem(7px);
    color: var(--white);
    font-size: rem(18px);
    font-weight: bold;
    z-index: 5;
    transition: color ease-in-out 0.2s;
  }
  .project-card-more {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: rem(10px);
    border-radius: rem(7px);
    background-color: var(--principal-hover);
    transition: opacity ease-in-out 0.5s;
    div {
      width: rem(100px);
      display: flex;
      justify-content: space-between;
      button,
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(45px);
        height: rem(45px);
        background-color: var(--blue);
        border: none;
        border-radius: rem(5px);
        color: var(--white);
        transition: background-color ease-in-out 0.2s;
        cursor: pointer;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          color: var(--white);
        }
        &:hover {
          background-color: var(--blue-hover);
        }
      }
    }
  }
  &:hover {
    .project-card-name {
      color: var(--blue);
    }
    .project-card-more {
      opacity: 1;
    }
    img {
      transform: scale(1.1, 1.1);
    }
  }
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: rem(60px) 0;
  .navigation-small-device-carousel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    button + button {
      margin-left: 1rem;
    }
    button {
      height: rem(40px);
      padding: 0 0.5rem;
      font-size: 1.1rem;
      border-radius: rem(10px);
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--blue);
      color: var(--white);
      outline: none;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      &:hover {
        background-color: var(--blue-hover);
        color: var(--grey-one);
      }
    }
    #chevronR {
      margin-left: 0.5rem;
    }
    #chevronL {
      margin-right: 0.5rem;
    }
  }
  .navigation-small-device-carousel-first {
    justify-content: flex-end;
  }
  .img-project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    img {
      width: 100%;
      -webkit-box-shadow: 0px rem(15px) rem(36px) rem(-11px)
        hsla(0, 0%, 0%, 0.3);
      -moz-box-shadow: 0px rem(15px) rem(36px) rem(-11px) hsla(0, 0%, 0%, 0.3);
      box-shadow: 0px rem(15px) rem(36px) rem(-11px) hsla(0, 0%, 0%, 0.3);
    }
    span,
    a {
      color: hsl(167, 72%, 60%);
      transition: color 0.2s ease-in-out;
      &:hover {
        color: hsl(167, 49%, 45%);
      }
    }
    span {
      svg {
        margin-right: rem(5px);
      }
    }
  }
  .info-project {
    margin-top: rem(20px);
    @include title;
    .title-container {
      margin-bottom: rem(15px);
    }
    h2 {
      width: 80%;
    }
    .btn-title-action {
      width: 20%;
    }
    p {
      color: var(--white);
      margin-bottom: rem(10px);
    }
    .techno-used {
      margin-top: rem(20px);
      h4 {
        color: var(--grey-one);
      }
      ul {
        display: flex;
        flex-direction: row;
        padding: rem(10px) 0;
        li {
          margin-right: rem(10px);
          padding: rem(5px) rem(8px) rem(5px) rem(8px);
          border-radius: rem(3px);
          background-color: var(--blue);
          color: var(--white);
          text-transform: capitalize;
          transition: background-color 0.2s ease-in-out;
          &:hover {
            background-color: var(--blue-hover);
          }
        }
      }
    }
  }
}

.form-project-admin {
  display: flex;
  flex-direction: column;
  .project-form-container-first,
  .project-form-container-last {
    .input {
      width: 100%;
    }
  }
  .container-img-project-edit {
    p {
      display: block;
      color: var(--white);
      font-size: rem(14px);
      margin-bottom: rem(10px);
    }
    div {
      display: flex;
      justify-content: center;
      margin-bottom: rem(10px);
      position: relative;
      margin: 0 auto rem(10px) auto;
      width: rem(345px);
      height: rem(200px);
      .switch-to-input-project-img {
        @include btn-close(rem(10px), rem(10px), rem(25px), rem(15px));
      }
      img {
        width: 100%;
        -webkit-box-shadow: 0px rem(15px) rem(36px) rem(-11px)
          hsla(0, 0%, 0%, 0.3);
        -moz-box-shadow: 0px rem(15px) rem(36px) rem(-11px) hsla(0, 0%, 0%, 0.3);
        box-shadow: 0px rem(15px) rem(36px) rem(-11px) hsla(0, 0%, 0%, 0.3);
      }
    }
  }
}

.fade-enter .info-project-container {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active .info-project-container {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit .info-project-container {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active .info-project-container {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active .info-project-container,
.fade-exit-active .info-project-container {
  transition: opacity 500ms, transform 500ms;
}
/*Media queries*/

@media screen and (max-height: 640px) {
  .swiper-modal {
    width: 50vw;
    margin-top: 0;
  }
}

/*Tablet*/
@media screen and (min-width: 640px) {
  .project-container {
    display: flex;
    justify-content: flex-start;
    .info-project-container {
      display: flex;
    }
    .img-project {
      display: flex;
      justify-content: flex-start;
      width: 45%;
      img {
        width: 100%;
      }
    }
    .info-project {
      margin: 0 0 0 rem(20px);
      width: 55%;
      @include title;
      p {
        color: var(--white);
      }
    }
  }

  .form-project-admin {
    flex-direction: row;
    .project-form-container-first,
    .project-form-container-last {
      width: 50%;
    }
    .project-form-container-first {
      margin-right: rem(10px);
    }
    .project-form-container-last {
      margin-left: rem(10px);
    }
    .container-img-project-edit {
      div {
        width: rem(250px);
        height: rem(160px);
      }
    }
  }
}

/*Full-screen*/
@media screen and (min-width: 960px) {
  .projects {
    .projects-portfolio {
      justify-content: flex-start;
    }
  }

  .portfolio,
  .project {
    padding: 0;
  }

  .project-carousel-full-screen {
    display: flex;
    align-items: center;
    min-width: rem(56px);
    .carousel-after,
    .carousel-before {
      @include btn-admin(var(--btn-blue), var(--btn-blue-hover));
    }
    .carousel-before {
      margin-right: 1rem;
    }
    .carousel-after {
      margin-left: 1rem;
    }
  }

  .swiper-modal {
    margin: 0;
    width: unset;
  }

  .form-project-admin {
    .container-img-project-edit {
      div {
        width: rem(375px);
        height: rem(200px);
      }
    }
  }
}
