.success-svg {
  opacity: 0;
  font-size: rem(20px);
  padding-left: rem(10px);
  color: var(--green);
  transition: opacity 1s ease-in-out;
}

.error-svg {
  opacity: 1;
  font-size: rem(25px);
  color: var(--red);
  transition: opacity 0.5s ease-in-out;
}

.error-message {
  opacity: 1;
  color: var(--red);
  transition: opacity 0.5s ease-in-out;
}

.loading-action {
  transition: opacity 0.5s ease-in-out;
}

.btnAnimation-enter {
  opacity: 0;
}
.btnAnimation-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.btnAnimation-exit {
  opacity: 1;
}
.btnAnimation-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
