.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    width: 85%;
  }
  .title-info-gen {
    width: 100%;
  }
  .btn-title-action,
  .btn-title-action-delete {
    margin-left: rem(15px);
    position: relative;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      background: var(--grey-four);
      width: 100%;
      height: rem(1px);
      bottom: rem(22px);
      left: rem(54px);
    }
    button {
      @include btn-admin(var(--btn-blue), var(--btn-blue-hover));
    }
  }

  .btn-title-action-delete {
    button {
      @include btn-admin(var(--btn-red), var(--btn-red-hover));
    }
  }
}

.title-container-info-gen {
  h2 {
    width: 100%;
  }
}

/*Media queries*/

/*Tablet*/
@media screen and (min-width: 640px) {
  .title-container {
    h2 {
      width: 90%;
    }
    .btn-title-action,
    .btn-title-action-delete {
      width: 10%;
    }
  }

  .title-container-info-gen {
    h2 {
      width: 100%;
    }
  }
}
