.title-left {
  @include sub-title;
  justify-content: flex-start;
  border-left: var(--border);
  padding-left: rem(15px);
  position: absolute;
}

.title-left-admin {
  @include sub-title;
  justify-content: flex-start;
  border-left: var(--border);
  padding-left: rem(15px);
}

.title-right {
  @include sub-title;
  justify-content: flex-end;
  border-right: var(--border);
  padding-right: rem(15px);
}
