:root {
  --grey-one: hsla(0, 0%, 100%, 0.7);
  --grey-two: hsla(0, 0%, 100%, 0.5);
  --grey-three: hsla(0, 0%, 100%, 0.62);
  --grey-four: hsla(0, 0%, 100%, 0.2);
  --grey-five: hsla(0, 0%, 100%, 0.027);
  --grey-input-placeholder: hsla(212, 80%, 89%, 1);
  --grey-border: hsla(0, 0%, 100%, 0.3);
  --border: 0.5px solid var(--grey-border);
  --blue: hsl(208, 100%, 43%);
  --blue-hover: hsla(210, 88%, 53%, 0.849);
  --principal-color: hsl(211, 80%, 10%);
  --principal-hover: hsla(211, 80%, 10%, 0.849);
  --white: hsl(0, 0%, 100%);
  --btn-blue: hsl(167, 72%, 60%);
  --btn-blue-hover: hsl(232, 68%, 43%);
  --btn-red: hsl(360, 82%, 63%);
  --btn-red-hover: hsl(0, 82%, 53%);
  --red: hsl(0, 100%, 50%);
  --green: hsl(120, 100%, 25%);
}
