.wrapper,
.wrapper-project {
  box-sizing: content-box;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/*Full-screen*/
@media screen and (min-width: 1087px) {
  .wrapper-project {
    max-width: 1072px;
  }
}
