.about {
  overflow: hidden;
}

.about-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  margin: 0 15px;
  .title-right {
    border-top: var(--border);
    &:after,
    &:before {
      content: "";
      position: absolute;
      background: var(--grey-three);
      width: 15px;
      height: 0.5px;
      top: 0;
    }
    &:after {
      right: -15px;
    }
    &:before {
      left: -15px;
    }
  }
}

.img-about {
  display: flex;
  justify-content: center;
  img {
    width: 80%;
  }
}

.text-about {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .about-me {
    padding: 50px 20px;
  }
  h2 {
    color: #ffffff;
    font-size: 30px;
  }
  p {
    color: var(--grey-one);
  }
}

.info {
  background-color: rgba(255, 255, 255, 0.02);
  position: relative;
  ul {
    padding: 20px 20px;
    li {
      display: flex;
      align-items: center;
      margin: 10px 0;
      color: var(--grey-two);
      font-size: 13px;
      div {
        width: 70%;
      }
    }
  }
  span {
    display: inline-block;
    color: var(--grey-one);
    width: 30%;
  }
  &:before {
    content: "";
    position: absolute;
    background: #2336b6;
    bottom: 0;
    top: 0;
    width: 20px;
    left: -20px;
    z-index: 10;
  }
  &:after {
    content: "";
    top: 0;
    position: absolute;
    background: inherit;
    bottom: 0;
    right: -1200px;
    width: 1200px;
  }
}

.about-job-container {
  width: 100%;
  border-bottom: var(--border);
  border-top: var(--border);
}

.about-job {
  display: flex;
  justify-content: space-between;
  div:first-child {
    border-left: var(--border);
    display: none;
  }
  div:last-child {
    display: none;
  }
  div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 150px;
    border-right: var(--border);
    svg {
      path {
        fill: var(--grey-two);
      }
    }
    .svg-inline--fa {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  h5 {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 17px;
  }
}

/*Media queries*/

/*Tablet*/
@media screen and (min-width: 640px) {
  .img-about {
    img {
      width: 50%;
    }
  }
  .info {
    span {
      width: 140px;
    }
  }
}

/*Full-screen*/
@media screen and (min-width: 960px) {
  .about-container {
    flex-direction: row;
    margin: 0 auto;
    .title-right {
      border-top: none;
      &:after,
      &:before {
        content: unset;
      }
    }
  }

  .img-about {
    width: 25%;
    img {
      width: 100%;
    }
  }

  .text-about {
    width: 75%;
    .about-me {
      padding: 0 20px;
    }
  }

  .info {
    ul {
      padding: 20px 40px;
    }
  }

  .about-job {
    div {
      width: 25%;
    }
    div:first-child {
      display: block;
    }
    div:last-child {
      display: block;
    }
  }
}
