.info-section, .educExpe-section, .skill-section{
  border-bottom: $border;
}

.info-container, .educExpe-container, .skill-container {
  margin-top: 70px;
  overflow: hidden;
  padding: 0 15px;
  form{
    margin-top: 30px;
  }
}

.info-container{
  @include title(280px);
}

.educExpe-container{
  @include title(410px);
}

.skill-container{
  @include title(265px);
}

.title-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2{
    width: 85%;
  }
  .btn-switch-container{
    margin-left: 15px;
    position: relative;
    overflow: hidden;
    &:after{
      content: "";
      position: absolute;
      background: $grey-four;
      width: 100%;
      height: 1px;
      bottom: 22px;
      left: 54px;
    }
  }
  button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #50e3c2;
    color: $principal-color;
    outline: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    &:hover{
      background-color: #2336b6;
      color: $grey-one;
    }
  }
}

.forms-block{
  display: flex;
  width: 200%;

}

.form-container{
  width: 50%;
  margin-bottom: 30px;
  h3{
    color: #ffffff;
  }
}

.add-enter {
  transform: translate3d(-110%, 0, 0);
}
.add-enter-active {
  transform: translate3d(0, 0, 0);
  transition:  transform 500ms;
}
.add-exit {
  transform: translate3d(0, 0, 0);
}
.add-exit-active {
  transform: translate3d(-110%, 0, 0);
  transition: transform 500ms;
}

.edit-enter {
  transform: translate3d(10%, 0, 0);
}
.edit-enter-active {
  transform: translate3d(-100%, 0, 0);
  transition:  transform 500ms;
}
.edit-exit {
  transform: translate3d(-100%, 0, 0);
}
.edit-exit-active {
  transform: translate3d(10%, 0, 0);
  transition: transform 500ms;
}

.label-checkbox-container{
  display: flex;
}

.skills-checkbox-container{
  flex-direction: column;
  label{
    margin-top: 20px;
  }
}

/*Media queries*/

/*Tablet*/
@media screen and (min-width: 640px){
  .title-container{
    h2{
      width: 90%;
    }
    .btn-switch-container{
      width: 10%;
    }
  }

  .skills-checkbox-container{
    flex-direction: row;
    label{
      margin-top: 0;
    }
  }
  
}

/*Full-screen*/
@media screen and (min-width: 960px) {
  .info-section, .educExpe-section, .skill-section{
    padding: 0;
  }
}
