@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  background-color: $principal-color;
}

input, textarea{
  font-family: "Poppins", sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App{
  overflow: hidden;
  position: relative;
}

.wrapper, .wrapper-project {
  box-sizing: content-box;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: relative;
  height: 100vh;
}

main{
  background-color: $principal-color;
  position: relative;
}

.title-left{
  @include sub-title;
  justify-content: flex-start;
  border-left: $border;
  padding-left: 15px;
  position: absolute;
}

.title-left-admin{
  @include sub-title;
  justify-content: flex-start;
  border-left: $border;
  padding-left: 15px;
}

.title-right{
  @include sub-title;
  justify-content: flex-end;
  border-right: $border;
  padding-right: 15px;
}

/*Full-screen*/
@media screen and (min-width: 1087px){
  .wrapper-project {
    max-width: 1072px;
  }
}
