.wrapper,
.wrapper-project {
  box-sizing: content-box;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.title-left {
  @include sub-title;
  justify-content: flex-start;
  border-left: var(--border);
  padding-left: 15px;
  position: absolute;
}

.title-left-admin {
  @include sub-title;
  justify-content: flex-start;
  border-left: var(--border);
  padding-left: 15px;
}

.title-right {
  @include sub-title;
  justify-content: flex-end;
  border-right: var(--border);
  padding-right: 15px;
}

/*Full-screen*/
@media screen and (min-width: 1087px) {
  .wrapper-project {
    max-width: 1072px;
  }
}
