.contact-container {
  border-top: var(--border);
}

.contact {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 15px;
}

.contact-form {
  border-bottom: var(--border);
  padding-top: 80px;
  @include title();
  p {
    margin: 20px 0;
    font-size: 16px;
    font-weight: 900;
    color: var(--grey-two);
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  ul {
    margin: 20px 0 50px 0;
    li {
      display: flex;
      align-items: center;
      color: var(--grey-two);
      font-size: 15px;
      padding: 10px 0;
      span {
        width: 40px;
        text-align: center;
        svg {
          color: var(--blue);
        }
      }
      &:not(:last-child) {
        border-bottom: var(--border);
      }
      div {
        display: inline-block;
        &:first-child {
          margin-right: 5px;
        }
      }
    }
  }
}

.container-img-contact {
  display: none;
}

/*Media queries*/

/*Full-screen*/
@media screen and (min-width: 960px) {
  .contact {
    flex-direction: row;
    padding: 0;
  }

  .contact-form {
    width: 70%;
    padding-right: 35px;
    border-right: var(--border);
    border-bottom: none;
    padding-bottom: 30px;
  }

  .contact-info {
    width: 30%;
    padding-top: 80px;
    padding-left: 35px;
    ul {
      margin: 30px 0 0;
      li {
        div {
          display: block;
          &:first-child {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .container-img-contact {
    display: block;
    text-align: center;
    width: 240px;
    height: 240px;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #ffffff;
    img {
      width: 170px;
    }
  }
}
