.footer {
  background-color: $principal-color;
  border-top: $border;
}

.footer-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  a {
    display: flex;
    align-items: center;
    padding: 0 15px;
    text-transform: none;
    text-decoration: none;
    font-weight: 700;
    height: 80px;
    &:focus{
      outline-style:none;
      box-shadow:none;
      border-color:transparent;
      svg{
        path{
          fill:#ffffff
        }
      }
    }
  }
}

.social-footer {
  ul{ 
    display: flex;
  }
  @include svgFill(20px);
}

/*Media queries*/

@media screen and (min-width: 960px){
  .footer-container {
    padding: 0;
  }
}