.btn-submit-action {
  @include btn(60px, 30px 0, auto);
  margin: 30px 30px 30px 0;
  svg {
    margin-left: 6px;
  }
}

.error-message-form {
  position: absolute;
  color: red;
  font-size: 12px;
}

.success-message {
  opacity: 0;
  margin-left: 20px;
  font-size: 20px;
  color: #008000;
  transition: opacity 0.5s ease-in-out;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 20px;
  @include form-input();
  div {
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      color: $grey-two;
      margin: 0 5px;
      svg {
        width: 25px !important;
        height: 25px;
      }
    }
    input {
      background-color: transparent;
      border: none;
      outline: none;
      width: 100%;
      padding-right: 10px;
      font-size: 16px;
      color: $grey-two;
    }
    input[type=file]{
      opacity: 0;
      z-index: 10;
      position: absolute;
      top: 0;
      height: 100%;
    }
    .container-input-file{
      width: 100%;
      position: relative;
      span{
        justify-content: flex-start;
        width: 100%;
        z-index: 9;
      }
    }
    .react-datepicker-wrapper{
      width: 90%;
    }
    .react-datepicker-wrapper, .react-datepicker__input-container{
      background-color: transparent;
      border: none;
    }
    .react-datepicker, .react-datepicker__header  {
      flex-direction: column;
      background-color: $principal-color;
      border-radius: 0;
    }
    .react-datepicker__month-container{
      flex-direction: column;
      width: 250px;
    }
    .react-datepicker__month{
      flex-wrap: wrap;
    }
    .react-datepicker__current-month, .react-datepicker__day-name, .react-datepicker__day{
      color: #ffffff;
    }
    .react-datepicker__day{
      transition: .2s ease-in-out;
      &:hover{
        color: $blue;
      }
    }
    .react-datepicker__close-icon{
      &:after{
        background-color: $blue;
      }
    }
  }
}

.input-file{
  overflow: hidden;
  label{
    display: flex;
    align-items: center;
    background-color: $blue;
    height: 40px;
    padding: 0 20px;
    margin: 0;
  }
}

.text-area {
  @include form-input();
  div {
    padding: 5px 0 0 10px;
    textarea {
      background-color: transparent;
      border: none;
      outline: none;
      width: 100%;
      height: 200px;
      font-size: 16px;
      color: $grey-two;
    }
  }
}

.btn-container {
  display: flex;
  align-items: center;
}

.container-radio, .container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-right: 10px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-radio input, .container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container-checkbox input {
  height: 0;
  width: 0;
}

.checkmark-radio {
  position: absolute;
  top: -3px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  transition: .3s ease-in-out;
}

.checkmark-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid $grey-one;
  border-radius: 5px;
  transition: .3s ease-in-out;
}

.container-radio:hover input ~ .checkmark-radio {
  background-color: #ccc;
}
.container-checkbox:hover input ~ .checkmark-checkbox{
  border-color: $blue;
}

.container-radio input:checked ~ .checkmark-radio, .container-checkbox input:checked ~ .checkmark-checkbox {
  background-color: #2196F3;
}

.checkmark-radio:after, .checkmark-checkbox:after{
  content: "";
  position: absolute;
  display: none;
}

.container-radio input:checked ~ .checkmark-radio:after, .container-checkbox input:checked ~ .checkmark-checkbox:after {
  display: block;
}

.container-radio .checkmark-radio:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.container-checkbox .checkmark-checkbox:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Media queries*/

/*Full-screen*/
@media screen and (min-width: 960px) {
  .input-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .input {
    width: 49%;
    margin-bottom: 0;
  }
}
