.home {
  position: fixed;
  margin: 0 auto;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  padding: 0 15px;
  z-index: -1;
}

.welcome {
  @include sub-title;
  position: absolute;
  top: 0;
  padding-left: 15px;
  border-left: $border;
}

.graphic-container {
  position: fixed;
  top: 0;
  right: 0;
}

.graphic-one {
  position: absolute;
  top: -100px;
  right: -60px;
  display: block;
  width: 220px;
  height: 220px;
  transform: rotate(-45deg);
  background-image: linear-gradient(90deg, #2336b6 0%, rgba(31, 38, 103, 0.9) 100%);
}

.graphic-two {
  position: absolute;
  top: -100px;
  right: 80px;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-image: linear-gradient(-90deg, rgba(49, 207, 171, 0.5) 0%, #50e3c2 100%);
}

.title-home-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  svg {
    height: 40px;
    path {
      fill: #ee5253;
      transition: 0.2s ease-in-out;
    }
  }
}

.home-gradient {
  text-align: center;
  background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  font-size: 80px;
  letter-spacing: -4px;
  padding: 10px;
}

.job-name {
  color: $grey-one;
  font-size: 25px;
  font-weight: bolder;
  span {
    color: $blue;
    text-decoration: underline;
  }
}

@media screen and (min-width: 426px) {
  .home {
    padding: 0;
  }
}
