@mixin sub-title {
  display: flex;
  font-weight: bolder;
  letter-spacing: -1px;
  height: 40px;
  align-items: flex-end;
  color: var(--grey-three);
}

@mixin svgFill($height) {
  svg {
    height: $height;
    path {
      fill: var(--grey-one);
      transition: 0.2s ease-in-out;
    }
    &:hover {
      path {
        fill: var(--grey-two);
      }
    }
  }
}

@mixin svgStroke($height) {
  svg {
    height: $height;
    path {
      stroke: var(--grey-one);
      fill: none;
      transition: 0.2s ease-in-out;
    }
    &:hover,
    &:focus {
      path {
        stroke: var(--grey-two);
        fill: none;
      }
    }
  }
}

@mixin title() {
  h2 {
    color: #ffffff;
    font-size: 35px;
    font-weight: bolder;
    position: relative;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      background: var(--grey-four);
      width: 100%;
      height: 1px;
      bottom: 25px;
      margin-left: 15px;
    }
  }

  .h2after50 {
    &:after {
      bottom: 50px;
    }
  }

  .h2after75 {
    &:after {
      bottom: 75px;
    }
  }
}

@mixin form-input() {
  label {
    display: block;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .input-block {
    display: flex;
    align-items: center;
    background-color: var(--grey-four);
    border-radius: 5px;
    border: 0.5px solid transparent;
    transition: 0.2s ease-in border;
  }
  ::placeholder {
    color: var(--grey-two);
    font-family: "Poppins", sans-serif;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: var(--grey-two);
    font-family: "Poppins", sans-serif;
  }
  ::-ms-input-placeholder {
    color: var(--grey-two);
    font-family: "Poppins", sans-serif;
  }
  &:focus-within .input-block {
    border: var(--border);
  }
}

@mixin btn($height, $margin, $width) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  height: $height;
  margin: $margin;
  width: $width;
  background-color: var(--blue);
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: var(--blue-hover);
  }
  &:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    background-color: var(--blue-hover);
  }
}

@mixin btn-admin($color, $color-hover) {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color;
  color: var(--principal-color);
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: $color-hover;
    color: var(--grey-one);
  }
}

@mixin btn-close($top, $right, $size, $fSize) {
  position: absolute;
  top: $top;
  right: $right;
  width: $size;
  height: $size;
  border: none;
  border-radius: 50%;
  background-color: var(--blue);
  font-size: $fSize;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    color: var(--principal-color);
    transform: scale(1.1);
  }
}
