@mixin sub-title {
  display: flex;
  font-weight: bolder;
  letter-spacing: -1px;
  height: 40px;
  align-items: flex-end;
  color: $grey-three;
}

@mixin svg($height) {
  svg {
    height: $height;
    path {
      fill: $grey-one;
      transition: 0.2s ease-in-out;
    }
    &:hover {
      path {
        fill: $grey-two;
      }
    }
  }
}

@mixin  title-resume($left) {
  h2{
    color: #ffffff;
    font-size: 35px;
    font-weight: bolder;
    position: relative;
    overflow: hidden;
    &:after{
      content: "";
      position: absolute;
      background: $grey-four;
      width: 100%;
      height: 1px;
      bottom: 25px;
      left: $left;
    }
  }
}

@mixin contact-form-input(){
  label{
    display: block;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
  }
  div{
    display: flex;
    align-items: center;
    background-color: $grey-four;
    border-radius: 5px;
    border: .5px solid transparent;
    transition: .2s ease-in border;
  }
  ::placeholder{
    color: $grey-two;
    font-family: "Poppins", sans-serif;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: $grey-two;
    font-family: "Poppins", sans-serif;
  } 
  ::-ms-input-placeholder {
    color: $grey-two;
    font-family: "Poppins", sans-serif;
  }
  &:focus-within div{
    border: $border;
  }
}
