@mixin sub-title {
  display: flex;
  font-weight: bolder;
  letter-spacing: -1px;
  height: 40px;
  align-items: flex-end;
  color: $grey-three;
}

@mixin svgFill($height) {
  svg {
    height: $height;
    path {
      fill: $grey-one;
      transition: 0.2s ease-in-out;
    }
    &:hover {
      path {
        fill: $grey-two;
      }
    }
  }
}

@mixin svgStroke($height) {
  svg {
    height: $height;
    path {
      stroke: $grey-one;
      fill: none;
      transition: 0.2s ease-in-out;
    }
    &:hover, &:focus {
      path {
        stroke: $grey-two;
        fill: none;
      }
    }
  }
}

@mixin title() {
  h2{
    color: #ffffff;
    font-size: 35px;
    font-weight: bolder;
    position: relative;
    overflow: hidden;
    &:after{
      content: "";
      position: absolute;
      background: $grey-four;
      width: 100%;
      height: 1px;
      bottom: 25px;
      margin-left: 15px;
    }
  }
}

@mixin form-input(){
  label{
    display: block;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .input-block{
    display: flex;
    align-items: center;
    background-color: $grey-four;
    border-radius: 5px;
    border: .5px solid transparent;
    transition: .2s ease-in border;
  }
  ::placeholder{
    color: $grey-two;
    font-family: "Poppins", sans-serif;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: $grey-two;
    font-family: "Poppins", sans-serif;
  } 
  ::-ms-input-placeholder {
    color: $grey-two;
    font-family: "Poppins", sans-serif;
  }
  &:focus-within .input-block{
    border: $border;
  }
}

@mixin btn($height, $margin, $width) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  height: $height;
  margin: $margin;
  width: $width;
  background-color: $blue;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: .2s ease-in-out;
  &:hover{
    background-color: $blue-hover;
  }
  &:focus{
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
    background-color: $blue-hover;
  }
}

@mixin btn-admin($color, $color-hover){
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color;
  color: $principal-color;
  outline: none;
  cursor: pointer;
  transition: .3s ease-in-out;
  &:hover{
    background-color: $color-hover;
    color: $grey-one;
  }
}

@mixin btn-close($top, $right, $size, $fSize) {
  position: absolute;
  top: $top;
  right: $right;
  width: $size;
  height: $size;
  border: none;
  border-radius: 50%;
  background-color: $blue;
  font-size: $fSize;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    color: $principal-color;
    transform: scale(1.1);
  }
}
