.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(5, 25, 46, 0.986);
  z-index: 999999;
}

.modal-container {
  display: flex;
  height: 100%;
  position: relative;
  background-color: $principal-color;
  padding: 20px 15px;
  overflow-y: auto;

}

.close-modal {
  @include btn-close(15px, 5px, 35px, 20px);
}


/*Media queries*/

/*Tablet*/
@media screen and (min-width: 640px){
  .modal-container{
    height: auto;
    padding: 50px;
    -webkit-box-shadow: 0px 15px 36px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 36px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 36px -11px rgba(0,0,0,0.75);
  }
  @media screen and (min-width: 640px){
    .close-modal{
      top: 10px;
      right: 10px;
    }
  }
}