.main-menu {
  background-color: #05182c;
  border-bottom: $border;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  .container-nav {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    a{
      display: flex;
      align-items: center;
      padding: 0 15px;
      text-transform: none;
      text-decoration: none;
      font-weight: 700;
      height: 65px;
    }
  }
}

.menu-fixed{
  position: fixed;
  top: 0;
  bottom: unset;
}

.menu {
  position: absolute;
  top: 80px;
  left: 0;
  background-color: $principal-color;
  width: 100%;
  border-bottom: $border;
  display: none;
  .list-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      .active{
        color: #ffffff;
      }
      &:focus{
        outline-style:none;
        box-shadow:none;
        border-color:transparent;
        a{
          color: #ffffff;
        }
      }
    } 
  }
  a {
    color: $grey-one;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      color: $grey-two;
    }
  }
}

.social{
  ul{
    display: none;
  }
}

.social-mobile{
  padding-bottom: 20px;
  ul{
    display: flex;
    justify-content: center;
  }
}

.social-svg {
  @include svgFill(20px);
  a{
    &:focus{
      outline-style:none;
      box-shadow:none;
      border-color:transparent;
      svg{
        path{
          fill:#ffffff
        }
      }
    }
  }
}

.burger-menu-svg {
  @include svgFill(30px)
}

.logoutSvg{
  display: flex;
  align-items: center;
  height: 65px;
  padding: 0 15px;
  cursor: pointer;
  @include svgStroke(30px);
}

.display-block{
  display: block;
}

.display-svg-menu{
  display: none;
}


/*Media queries*/

/*Tablet*/
@media screen and (min-width: 640px){
  .menu{
    .list-menu{
      flex-direction: row;
      justify-content: center;
    }
  }
  .social-mobile{
    padding: 0;
  }
}

/*Full-screen*/
@media screen and (min-width: 960px){

  .maine-menu{
    .container-nav{
      padding: 0;
    }
  }

  .menu{
    display: flex;
    justify-content: center;
    border: none;
    position: unset;
    top: unset;
  }

  .social{
    ul{
      display: flex;
    }
  }
  
  .social-mobile{
    ul{
      display: none;
    }
  }

  .burger-menu-svg{
    display: none;
  }
}