.main-menu {
  background-color: #05182c;
  border-bottom: $border;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  .contain-nav {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    a{
      display: flex;
      align-items: center;
      padding: 0 15px;
      text-transform: none;
      text-decoration: none;
      font-weight: 700;
      height: 65px;
    }
  }
}

.menu-fixed{
  position: fixed;
  top: 0;
  bottom: unset;
}

.logo {
  a {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: 50%;
      margin-top: -15px;
      background: $blue;
      left: 3px;
      border-radius: 50%;
      z-index: 0;
    }
    span {
      position: relative;
      color: $grey-one;
      font-weight: 700;
      font-size: 1.3rem;
    }
  }
}

.menu {
  position: absolute;
  top: 80px;
  left: 0;
  background-color: $principal-color;
  width: 100%;
  border-bottom: $border;
  display: none;
  .list-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a {
    color: $grey-one;
    transition: 0.2s ease-in-out;
    &:hover {
      color: $grey-two;
    }
    &:active {
      color: #ffffff;
    }
  }
}

.social{
  ul{
    display: none;
  }
}

.social-mobile{
  padding-bottom: 20px;
  ul{
    display: flex;
    justify-content: center;
  }
}

.social, .social-mobile {
  @include svg(20px)
}

.burger-menu-svg {
  @include svg(30px)
}

.display-block{
  display: block;
}

.display-svg-menu{
  display: none;
}


/*Media queries*/

@media screen and (min-width: 426px){

  .menu{
    display: flex;
    justify-content: center;
    border: none;
    position: unset;
    top: unset;
    .list-menu {
      flex-direction: row;
    }
  }

  .social{
    ul{
      display: flex;
    }
  }
  
  .social-mobile{
    ul{
      display: none;
    }
  }

  .burger-menu-svg{
    display: none;
  }
}