.portfolio-container{
  border-top: $border;
}

.portfolio {

}

.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px 0;
}

.project{
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 200px;
  margin: 20px 0;
  border-radius: 7px;
  cursor: pointer;
  img{
    width: 100%;
    height: inherit;
    transform: scale(1.2);
    transition: transform ease-in-out .2s;
  }
  .project-name{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $principal-color;
    padding: 3px 9px;
    border-top-right-radius: 7px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
    transition: color ease-in-out .2s;
  }
  .project-more{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 7px;
    background-color: $principal-hover;
    transition: opacity ease-in-out .5s;
    div{
      width: 100px;
      display: flex;
      justify-content: space-between;
      span{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        background-color: $blue;
        border-radius: 5px;
        color: #ffffff;
        transition: background-color ease-in-out .2s;
        a{
          color: #ffffff;
        }
        &:hover{
          background-color: $blue-hover;
        }
      }
    }
  }
  &:hover{
    .project-name{
      color: $blue;
    }
    .project-more{
      opacity: 1;
    }
    img{
      transform: scale(1.1,1.1);
    }
  }
}

.info-project-modal{
  display: flex;
  width: 900px;
  .img-project{
    width: 45%;
    img{
      width: 100%;
    }
  }
  .info-project{
    width: 55%;
    padding-left: 50px;
    @include title;
    p{
      color: #ffffff;
    }
  }
}
