.portfolio-container{
  border-top: $border;
}

.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px 0;
}

.project{
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 200px;
  margin: 10px;
  border-radius: 7px;
  cursor: pointer;
  -webkit-box-shadow: 0px 15px 36px -11px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 15px 36px -11px rgba(0,0,0,0.5);
  box-shadow: 0px 15px 36px -11px rgba(0,0,0,0.5);
  img{
    width: 100%;
    height: inherit;
    transform: scale(1.2);
    transition: transform ease-in-out .2s;
  }
  .project-name{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $principal-color;
    padding: 3px 9px;
    border-top-right-radius: 7px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
    transition: color ease-in-out .2s;
  }
  .project-more{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 7px;
    background-color: $principal-hover;
    transition: opacity ease-in-out .5s;
    div{
      width: 100px;
      display: flex;
      justify-content: space-between;
      span{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        background-color: $blue;
        border-radius: 5px;
        color: #ffffff;
        transition: background-color ease-in-out .2s;
        a{
          color: #ffffff;
        }
        &:hover{
          background-color: $blue-hover;
        }
      }
    }
  }
  &:hover{
    .project-name{
      color: $blue;
    }
    .project-more{
      opacity: 1;
    }
    img{
      transform: scale(1.1,1.1);
    }
  }
}

.info-project-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  .img-project{
    display: flex;
    justify-content: center;
    flex-direction: column;
    img{
      width: 100%;
      margin-bottom: 10px;
      -webkit-box-shadow: 0px 15px 36px -11px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 15px 36px -11px rgba(0,0,0,0.3);
      box-shadow: 0px 15px 36px -11px rgba(0,0,0,0.3);
    }
    span, a{
      color: #50e3c2;
      transition: color .2s ease-in-out;
      &:hover{
        color: #3bad95;
      }
    }
    span{
      svg{
        margin-right: 5px;
      }
    }
  }
  .info-project{
    margin-top: 20px;
    @include title;
    p{
      color: #ffffff;
      margin-bottom: 10px;
    }
    .techno-used{
      margin-top: 20px;
      h4{
        color: $grey-one;
      }
      ul{
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        li{
          margin-right: 10px;
          padding:5px 8px 5px 8px;
          border-radius: 3px;
          background-color: $blue;
          color: #ffffff;
          text-transform: capitalize;
          transition: background-color .2s ease-in-out;
          &:hover{
            background-color: $blue-hover;
          }
        }
      }
    }
  }
}

.form-project-admin{
  display: flex;
  flex-direction: column;
  .project-form-container-first, .project-form-container-last{
    .input{
      width: 100%;
    }
  }
  .container-img-project-edit{
    p{
      display: block;
      color: #ffffff;
      font-size: 14px;
      margin-bottom: 10px;
    }
    div{
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      position: relative;
      margin: 0 auto 10px auto;
      width: 345px;
      height: 200px;
      .switch-to-input-project-img{
        @include btn-close(10px, 10px, 25px, 15px);
      }
      img{
        width: 100%;
        -webkit-box-shadow: 0px 15px 36px -11px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 15px 36px -11px rgba(0,0,0,0.3);
        box-shadow: 0px 15px 36px -11px rgba(0,0,0,0.3);
      }
    }
  }
}
/*Media queries*/

/*Tablet*/
@media screen and (min-width: 640px) {
  .projects{
    justify-content: flex-start;
  }

  .info-project-modal{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 900px;
    height: auto;
    .img-project{
      display: flex;
      justify-content: flex-start;
      width: 45%;
      img{
        width: 100%;
      }
    }
    .info-project{
      margin: 0 0 0 20px;
      width: 55%;
      @include title;
      p{
        color: #ffffff;
      }
    }
  }

  .form-project-admin{
    flex-direction: row;
    .project-form-container-first, .project-form-container-last{
      width: 50%;
    }
    .project-form-container-first{
      margin-right: 10px;
    }
    .project-form-container-last{
      margin-left: 10px;
    }
    .container-img-project-edit{
      div{
        width: 250px;
        height: 160px;
      }
    }
  }
}

/*Full-screen*/
@media screen and (min-width: 960px){
  .form-project-admin{
    .container-img-project-edit{
      div{
        width: 375px;
        height: 200px;
      }
    }
  }
}

