.resume {
  display: flex;
}

.resume-title {
  @include sub-title;
  justify-content: flex-start;
  border-left: $border;
  padding-left: 15px;
}

.list-resume {
  display: none;
  margin-top: 30px;
  font-weight: bolder;
  ul {
    font-size: 15px;
    li {
      padding: 7px 0;
      a{
        color: $grey-two;
        transition: .5s ease-in-out;
        &:active{
          color: #ffffff;
        }
        &:hover{
          color: $grey-one;
        }
      }
    }
  }
}

.menu-resume {
  width: 25%;
}

.edu-expe {
  width: 75%;
  border-left: $border;
  padding-left: 50px;
  margin-left: -1px;
}

.edu-container{
  @include title-resume(190px);
}

.exp-container{
  @include title-resume(210px);
}

.skill-container{
  @include title-resume(100px);
}

.skill-canvas{
  display: flex;
  justify-content: center;
  margin: 30px 0;
  .canvas-container:nth-child(2n+1){
    background-color: $grey-five;
  }
}

.skill-bars{
  display: flex;
  .soft-skills, .language-skills{
    width: 50%;
    h4{
      color: #ffffff;
      font-size: 20px;
    }
  }
  .soft-skills{
    margin-right: 25px;
  }
  .language-skills{
    margin-left: 25px;
  }
}

/*Media queries*/

@media screen and (min-width: 426px) {
  .list-resume{
    display: block;
  }
}