.success-svg {
  opacity: 0;
  font-size: 20px;
  padding-left: 10px;
  color: #008000;
  transition: opacity 0.5s ease-in-out;
}

.error-svg {
  opacity: 0;
  font-size: 25px;
  color: red;
  transition: opacity 0.5s ease-in-out;
}

.error-message{
  opacity: 0;
  color: red;
  transition: opacity 0.5s ease-in-out;
}

.loading-action{
  margin-left: 20px;
  transition: opacity 0.5s ease-in-out;
}