$grey-one: rgba(255, 255, 255, 0.7);
$grey-two: rgba(255, 255, 255, 0.5);
$grey-three: rgba(255, 255, 255, 0.3);
$grey-four: rgba(255, 255, 255, 0.2);
$grey-five: rgba(255, 255, 255, 0.027);
$border: 0.5px solid rgba(255, 255, 255, 0.3);
$blue: #1e87f0;
$blue-hover: rgba(30, 135, 240, 0.849);
$principal-color: #05182c;
$principal-hover: rgba(5, 24, 44, 0.849);
$white: #ffffff;