.canvas-container {
  width: 50%;
  text-align: center;
  p {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: rem(-10px);
    margin-bottom: rem(20px);
  }
}

.canvas {
  position: relative;
  span {
    width: 100%;
    position: absolute;
    top: calc(50% - 20px);
    left: 0;
    color: var(--grey-three);
    font-size: 35px;
    font-weight: 900;
    line-height: rem(19px);
    transition: 0.2s ease-in-out;
    svg {
      height: rem(35px);
      path {
        fill: var(--grey-three);
        transition: 0.2s ease-in-out;
      }
      &:hover {
        path {
          fill: var(--blue);
        }
      }
    }
  }
  &:hover {
    span {
      color: var(--blue);
    }
  }
}
