.container-resume:not(:last-child) {
  border-bottom: var(--border);
}

.container-resume {
  transition: 0.5s ease-in-out;
  &:hover {
    h3 {
      color: var(--blue);
    }
  }
}

.date-resume {
  display: flex;
  align-items: center;
  margin-top: rem(20px);
  p {
    margin-left: rem(10px);
    color: var(--grey-one);
  }
}

.resume-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(33px);
  height: rem(33px);
  background-color: var(--blue);
  border-radius: 50%;
  svg {
    margin-top: rem(-2px);
    width: rem(18px);
    height: rem(18px);
    path {
      stroke: #ffffff;
    }
  }
}

.text-resume {
  margin: rem(15px) 0 rem(35px) rem(43px);
  h3 {
    color: #ffffff;
    margin-bottom: rem(10px);
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: rem(-1px);
    transition: 0.2s ease-in-out;
  }
  p {
    color: var(--grey-one);
    font-size: 15px;
  }
}
