.resume-container {
  border-bottom: var(--border);
}
.resume {
  display: flex;
  position: relative;
  padding: 0 rem(15px);
}

.edu-expe {
  width: 100%;
}

.edu-container,
.exp-container,
.skill-container {
  margin-top: rem(70px);
  @include title();
}

.skill-canvas {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: rem(30px) 0;
  .canvas-container:nth-child(2n + 1) {
    background-color: var(--grey-five);
  }
}

.skill-bars {
  display: flex;
  flex-direction: column;
  padding-bottom: rem(30px);
  .soft-skills,
  .language-skills {
    width: 100%;
    h3 {
      color: var(--white);
      font-size: rem(20px);
    }
  }
}

/*Media queries*/

/*Tablet*/
@media screen and (min-width: 640px) {
  .edu-expe {
    width: 75%;
    border-left: var(--border);
    padding-left: rem(20px);
  }

  .skill-canvas {
    justify-content: flex-start;
    .canvas-container {
      width: 33%;
    }
  }
}

/*Full-screen*/
@media screen and (min-width: 960px) {
  .resume {
    padding: 0;
  }

  .edu-expe {
    padding-left: rem(50px);
    margin-left: rem(-1px);
  }

  .skill-canvas {
    .canvas-container {
      width: 25%;
    }
  }

  .skill-bars {
    flex-direction: row;
    .soft-skills,
    .language-skills {
      width: 50%;
    }
    .soft-skills {
      margin-right: rem(25px);
    }
    .language-skills {
      margin-left: rem(15px);
    }
  }
}
